@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    background-color: rgb(245, 97, 97);
    font-family: "Montserrat", sans-serif;
    margin: 5%;
    line-height: 1.6;
}

